.advantage {
  padding: 103px 0;
  background-color: #222224;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__image {
    margin-bottom: 28px;
    height: 40px;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
  }

  &__text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
  }
}