.contacts {
  padding: 97px 0 126px;
  background: url(../img/contacts/contacts-bg.jpg) center/cover no-repeat;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info {
    width: 360px;
    text-align: center;
  }

  &__avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
  }

  &__subscribe {
    width: 557px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    color: #222224;
  }

  &__text-news {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    color: #222224;
  }
}


.form {
  display: flex;
  margin: 0 auto;


  &__input {
    width: 256px;
    height: $form-height;
    padding: 0 22px;
    background: #E1E1E1;
    border-top-left-radius: calc($form-height/2);
    border-bottom-left-radius: calc($form-height/2);
  }

  &__button {
    padding: 0 25px;
    height: $form-height;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: $color-pink;
    border-top-right-radius: calc($form-height/2);
    border-bottom-right-radius: calc($form-height/2);
  }
}