.footer {
  padding: 24px 0;
  background: #222224;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rules {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FBFBFB;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    width: 148px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 32px;
    height: 32px;

    &:hover {
      background-color: $color-pink;

    }

    &:hover .fa {
      color: #ffffff;

    }
  }

}

.fa {
  color: black;
}